name: Rust CI

on: [push, pull_request]

jobs:
  build:
      runs-on: ubuntu-latest
          steps:
                - uses: actions/checkout@v3
                      
                            - name: Install Rust
                                    uses: actions-rs/toolchain@v1
                                            with:
                                                      toolchain: stable
                                                                target: wasm32-unknown-unknown
                                                                          override: true

                                                                                - name: Install Soroban
                                                                                        run: cargo install --locked soroban-cli --version 20.0.0

                                                                                              - name: Build and Test
                                                                                                      run: make all
                                                                                                      